    <blockquote class="layui-elem-quote">规格,如:红色,白色,蓝色; "," 号分隔。</blockquote>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>商品添加</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" method="post" action="{:url('add')}">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="field-tip">*</span>模型名称</label>
            <div class="layui-input-inline">
                <input type="text" name="data[name]" lay-verify="former_name" autocomplete="off" placeholder="名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item form-spec-item">
            <label class="layui-form-label"><span class="field-tip">*</span>规格名称</label>
            <div class="layui-input-inline">
                <input type="text" name="data[spec][name][]" autocomplete="off" placeholder="规格名称" class="layui-input">
            </div>
            <label class="layui-form-label"><span class="field-tip">*</span>规格</label>
            <div class="layui-input-block space-600" style="float: left;margin-left: 0px; width: 400px;">
                <input type="text" name="data[spec][spec][]" autocomplete="off" placeholder="规格" class="layui-input">
            </div>
            <a class="layui-btn layui-btn-primary" lay-filter="add" data-add="true">添加</a>
        </div>

        <div class="layui-form-item">
            <a class="layui-btn" lay-submit="" lay-filter="save">保存</a>
        </div>
    </form>

<script type="text/html" id="spec_add">
<div class="layui-form-item form-spec-item">
    <label class="layui-form-label"><span class="field-tip">*</span>规格名称</label>
    <div class="layui-input-inline">
        <input type="text" name="data[spec][name][]" autocomplete="off" placeholder="规格名称" class="layui-input">
    </div>
    <label class="layui-form-label"><span class="field-tip">*</span>规格</label>
    <div class="layui-input-block space-600" style="float: left;margin-left: 0px; width: 400px;">
        <input type="text" name="data[spec][spec][]" autocomplete="off" placeholder="规格" class="layui-input">
    </div>
    <a class="layui-btn layui-btn-primary" lay-filter="add">删除</a>
</div>
</script>

<script type="text/javascript">
layui.use(['layer','form','laytpl'], function(){
    var $ = layui.jquery,
        layer = layui.layer,
        laytpl = layui.laytpl,
        form = layui.form();

    $(document).on('click', '[lay-filter="add"]', function(event){
        event.preventDefault();
        var _this = $(this);
        if(_this.data('add') === true){
            laytpl($('#spec_add').html()).render({},function(html){
                $('.form-spec-item:last').after(html);
            });
        }else{
            _this.parent().remove();
        }
    });
});
</script>